body {
  background-image: url("./assets/img/dark-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

header {
  height: 120px;
  background-color: rgb(19, 19, 19);
  display: flex;
  align-items: center;
  padding-left: 24px;
  width: 100%;
}

.header-logo {
  width: 240px;
}

#content {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  justify-content: center;
  padding: 48px;
}

.pokemon-card {
  width: 230px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  text-align: center;
  color: white;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s, box-shadow 0.2s; */
}

.pokemon-card:hover {
  transform: scale(1.05);
  /* box-shadow: 0 6px 16px rgba(0, 0, 0, 0.6); */
}

.card-header {
  height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  font-size: 14px;
  text-transform: capitalize;
}

.card-body {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.pokemon-image {
  width: 200px;
  height: auto;
}

.card-footer {
  height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.type-icon {
  width: 30px;
  height: 30px;
}
